<div class="form-check">
    <input id="patty{{patty_id}}" class="form-check-input" type="radio" name="patty" value="{{patty_id}}">
    <label class="form-check-label" for="patty{{patty_id}}">
        {{patty}}
    </label>
</div>