<div class="form-check">
    <input id="topping{{topping_id}}" type="radio" class="form-check-input" name="topping" value="{{topping_id}}">
    <label class="form-check-label" for="topping{{topping_id}}">
        {{topping}}
    </label>
</div>